<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Shopping Store</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script>
    window.addEventListener("load", function () {
        var load_screen = document.getElementById("load_screen");
        document.body.removeChild(load_screen);
    });
    </script>

    
</head>
<body style="background: url(http://www.planwallpaper.com/static/images/824183-green-wallpaper.jpg) no-repeat center center fixed; background-size: cover;">
    <br /> 
    <div id="load_screen">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    </div>
                    <div id="loading" class="col-md-4">
                        <img src="images/loading3.gif" alt="" style="">
                    </div>
                </div>
        </div>
     </div>
    <div class="container">
        <div class="navbar navbar" role="navigation" style="background-color:transparent; margin-bottom: -5px;">
            <a class="navbar-brand" href="#">
                @*<span class="hidden-xs">Online Shopping Store</span>
                    <div class="visible-xs">Online</div>
                    <div class="visible-xs">Shopping</div>
                    <div class="visible-xs">Store</div>*@
                
                <img src="~/images/slogo2.png" id="logo" style="height: 250%; margin-left: 0px; margin-top: -13px;"/>
                
            @Html.Action("Summary", "Cart")
        </div>

</div>

        <div class="container">

            <br />
            <div id="categoris" class="col-lg-2">
                @Html.Action("Menu", "Nav")

            </div>
            <div class="col-lg-10">
                @RenderBody()

            </div>



        </div>


        <!-- section start -->
        <!-- ================ -->
        <footer>

            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <br /><br /><br />
                            
                                <p class="text-center"> <span class="label ">Copyright © <a target="_blank" href="http://saideep-chhetri.co.uk/">Saideep Raj Chhetri 2016</a>. </span></p>
                            
</div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->
        <!--




        <!-- Auto run slides -->
        <script type="text/javascript">
            $('.carousel').carousel({ interval: 4000 })
        </script>﻿


</body>
</html>